<button class="btn btn-full" (click)="showModal()">Add new lesson</button>
<app-modal [isOpen]="isShown" ></app-modal>
<p *ngIf="lessons.length === 0">You have not added anything yet</p>
<table class="lections-table" *ngIf="lessons.length > 0">
  <thead>
    <tr>
      <th>#</th>
      <th>Topic</th>
      <th>Date</th>
      <th>Lecturer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lesson of lessons">
      <td>{{lesson.id}}</td>
      <td>
        <input [attr.disabled]="true" type="text" value={{lesson.topic}}>
      </td>
      <td>
        <input [attr.disabled]="true" type="text" value={{lesson.date}}>
      </td>
      <td>
        <input [attr.disabled]="true" type="text" value={{lesson.lecturer}}>
      </td>
      <td class="action-btn">
        <button
          class="btn btn-small btn-inline"
          (click)="updateLesson(lesson)">
          Edit</button>
        <button
          class="btn btn-small btn-inline"
          (click)="deleteLesson(lesson)"
          >Delete</button>
      </td>
    </tr>
  </tbody>
</table>


