$content-background: #efefef;
$primary-color: #fc5830;
$division-color: #cfd8dc;
$division: 2px solid #{$division-color};
$post-color: #fff;
$date-color: #bdbdbd;
$text-color: #757575;
$heading-color: #617d8a;