$content-background: #fff;
$primary-color: #1fbcd3;
$division-color: #617d8a;
$division: 2px solid #{$division-color};
$post-color: #efefef;
$date-color: #159591;
$text-color: #617d8a;
$heading-color: #1697a6;